body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;                                                                        
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  

  background-color: rgb(132, 157, 143);
 
}

.slide1 {
	background-image: url(/img/group1.png);
}

.slide2 {
	background-image: url(/img/group2.png);
}

.slide3 {
	background-image: url(/img/group3.png);
}
.time{
	font-size: 14px;
	line-height:16px;
}
.telefone {
	font-size:22px;
	line-height:24px;
}
a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color:#ffffff;
	background-color: rgb(154, 183, 167);
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
 background-color: #ffffff;
}
.container h3{
	font-size:60px;
	line-height: 60,35px;
	text-align: center;
}
.offer-list {
	list-style: none;
}
.offer-item1 {
	font-size: 35px;
	line-height: 41px;
	background-image: url("/img/raspberry-background");

}
.offer-item2 {
	font-size: 35px;
	line-height: 41px;
}
.offer-item p {
	font-size: 18px;
	line-height: 22px;
}


.catalog-title{
	list-style: none;
}